{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" href="{% static "css/search_result.css" %}" type="text/css">
{% language request.session.lang %}
    {% get_current_language as LANGUAGE_CODE %}
    <div class="container" id="search-container">
        {% if patients.count == 0 %}
            <div class="jumbotron border">
                <p class="text">{% trans ' بیماری وجود ندارد.' %}</p>
            </div>
        {% else %}
    {% for patient in patients %}
        <ul>
            <div class="jumbotron" id="search-jumbotron">
                <li>
                    <a href="{% url 'accounts:mini_profile' patient.user.pk %}"> {{ patient.user.name }} {{ patient.user.family_name }}</a>
                    {% if patient.user.patientprofileinfo.profile_pic %}
                        <img src="{{ patient.user.patientprofileinfo.profile_pic.url }}" width="120" height="120">
                    {% else %}
                        <img src="{% static 'default/default_8.jpg' %}" width="120" height="120">
                    {% endif %}
                    <br/>
                    <a class="btn btn-info" href="{% url 'prescription:pre_list' patient.user.pk%}">{% trans 'مشاهده نسخه‌ها' %}</a>
                </li>
            </div>
            <div/>
        </ul>
    {% endfor %}
        {% endif %}
    </div>
     {% endlanguage %}
{% endblock %}
