{
%
load
static
%
}
@font-face {
    font-family: "DimaShekari";
    font-size: medium;
    src: url("../fonts/DimaShekari1.woff") format("woff");
}

body {

    /*background-image: url('../images/doc35.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100%;*/
    background-image: url('../images/header12.jpg'), url('../images/pattern3.jpg');
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 100% 330px, 100% 700px;
    /*background-attachment: fixed;*/

    /*background-position: center;*/
    background-color: #c5eddd;
    font-family: 'DimaShekari', serif;
    font-size-adjust: 0.4;
    font-size: 1.5vw;

}
* {
    word-spacing: 2px;

}
a .nav_img{
    width: 1.7vw;
    border-radius: 50%;
}

label {
    font-size: 1.5vw;
}
#search-jumbotron {
    margin-top: 40vh;}
li {
    font-size: 1.5vw;
}

a {
    font-size: 1.6vw;
}

.jumbotron {
    padding: auto;
    margin-top: 12%;
    background: rgba(156, 211, 208, 0.9);

}

input {
    font-size: 1.3vw
}

.button, input[type="submit"] {
    font-size: 1.3vw;
}

.jumbotron h1 {
    color: rgba(0, 0, 0, 0.57);
    text-align: center;
    font-size: 5vw;

}

.jumbotron h2 {
    color: rgba(24, 66, 65, 0.79);
    text-align: center;
    font-size: 3vw;
}

.jumbotron h1 {
    color: rgba(0, 0, 0, 0.57);
    text-align: center;

}

.jumbotron h3 {
    color: #f5f5f5;
    font-size: large;

}

.jumbotron p {
    outline-color: black;

}

.error {
    color: red;
}

.error label {
    color: #9b2c32;
}

ul.errorlist {
    color: #c32b8e;
    background: none;
    font-size: xx-small;

}

ul.errorlist.error:before {
    content: ".";
    color: #c32b8e;
    font-size: x-large;
}

.navbar {
    border-bottom-color: rgba(255, 255, 255, 0.71);
    background-color: #4f4f4f;
}

.dropdown-menu {
    background-color: rgba(141, 134, 145, 0.63);
    text-align: right;
}

a.btn.btn-secondary.dropdown-toggle:focus {
    border: none;
    background-color: #c5eddd;
}

a.btn.btn-secondary.dropdown-toggle {
    color: white;
    border: none;
    background-color: #4f4f4f;
    border-radius: 0;
    margin: 0;
    transition: 0.5s;
}

a.dropdown-item {
    color: black;
    transition: 0.5s;
}

a.dropdown-item:hover {
    background-color: #18745b;
}

nav li {
    transition: 0.5s;
    color: white;

}


nav li:hover {
    background-color: #c5eddd;

}

.nav.navbar-nav li a {
    color: #ffffff;
    text-align: right;
    font-size: 1.5vw;
}

@media (max-width: 700px) {
    .nav.navbar-nav li a {
        font-size: 4vw;
    }
}

.errorlist {
    font-weight: bold;
}

.required label:after {
    content: " *";
    color: #ff4149;

}

label {
    color: #2a2a2a;
}

.required label {
    color: black;
}

#id_address {
    width: 40%;

}

#brand {
    font-size: large;
}

.navbar-toggler {
    background-color: #c5eddd;
    margin-top: 0.5%;

}

.navbar-toggler:hover {
    background-color: #c5eddd;
    margin-top: 0.5%;
}

.navbar-toggler:focus {
    background-color: #c5eddd;
    margin-top: 0.5%;
}

@media (min-width: 770px) {
    .navbar-toggler {
        display: none;
    }
}


