body{
    background-image: url('../images/header13.jpg'), url('../images/pattern3.jpg');
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 100% 330px, 100% 700px;
}
#calendar-div{
    width: 100%;
    overflow-x:scroll;
}
#calendar-div{
    width: 100%;
    overflow-x:scroll;
}
.calendar {
    background-color: rgba(255, 255, 255, 0.53);
    font-size: small;

}

.calendar tr, .calendar td {
    border: 1px solid black;
    text-align: center;
    font-size: 1vw;
}

.calendar th {
    text-align: center;
    font-size: 1vw;

}

.calendar td {
    width: 100px;
    height: 50px;
}

.calendar a{
    font-size: 1vw;
}
.date-header {
    font-size: 1.5vw;
}

.date-range {
    font-size: 1.5vw;
}

.date {
    font-size: 1.5vw;
}

ul {
    height: 50%;
    padding: 0 5px 0 20px;
}

a {
    color: #17a2b8;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
}

.clearfix {
    margin: 15px;
}

.Unavailable-slot {
    background-color: rgba(226, 0, 0, 0.52);
}

.reserved {
    background-color: rgba(226, 202, 37, 0.52);
}
.available:hover{
    background-color: #92dc3d;
}

p.cal-title {
    text-align: center;
    font-size: 1vw;
}

p.cal_title {
    text-align: center;
    font-size: 1vw;
}

