body {
    /*overflow-x: hidden;*/
    /*height: 100%;*/
    /*background-repeat: repeat;*/
    background-attachment: fixed;

}

.head {
    color: rgba(0, 0, 0, 0.57);
    text-align: center;
    font-size: 5vw
}

.alert-danger {
    width: 100%;
    max-width: 40vw;
    position: static;
    text-align: center;
}

.container {
    max-width: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
}

.box {
    width: 100%;
    max-width: 40vw;
    padding: 3.2vh;
    position: center;
    background: rgba(156, 211, 208, 0.9);
    text-align: center;
    transition: 0.25s;
    margin-top: 17.3vh;
    margin-bottom: 10vh;
    /*margin-right: 10vw;*/
    border-radius: 0.2vw;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"],
.box input[type="date"],
.box input[type="number"],
.box input[type="url"],
.box select,
.box input[type="file"] {
    background: none;
    display: block;
    margin: 2.5vw auto;
    text-align: center;
    border: 0.25vw solid black;
    padding: 1.72vh 1.72vw;
    width: 22.5vw;
    height: 7vh;
    outline: none;
    color: black;
    /*border-radius: 24px;*/
    transition: 0.25s;

}

/* todo .box input[type="checkbox"] */

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus,
.box input[type="email"]:focus,
.box input[type="date"]:focus,
.box input[type="number"]:focus,
.box input[type="url"]:focus,
.box select:focus {
    width: 25vw;

    border-color: cornflowerblue;
}

.box input[type="submit"] {
    background: none;
    display: block;
    margin: 3.5vh auto;
    text-align: center;
    border: 0.25vw solid cornflowerblue;
    padding: 2.5vh 3.12vw;
    outline: none;
    color: darkblue;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: cornflowerblue;
}

.forgot {
    text-decoration: underline
}


.card {
    padding-left: 30vw;
}

@media (max-width: 1000px) {
    .card {
        padding-right: 25vw;
    }
}

@media (max-width: 700px) {

    .box {
        padding: unset;
        padding-bottom: 2vw;
        width: 50vw;
    }

    .box input[type="text"],
    .box input[type="password"],
    .box input[type="email"],
    .box input[type="date"],
    .box input[type="number"],
    .box input[type="url"],
    .box select,
    .box input[type="file"] {
        height: 1vw;
    }

    .box input[type="submit"] {
        padding: auto;
        padding-top: 1vw;
        padding-bottom: 2vw;
        height: 3vw;
    }

    .card {
        padding-right: 20vw;
    }
}

