body{
    background-attachment: fixed;
}
.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    z-index: 9999 !important;
}

#ui-datepicker-div {
    background-color: #bec1bd;
    border: 1px solid rgba(34, 87, 80, 0.76);
}

#chart-div {
    overflow-x: scroll;
    align-content: center;
}

@media (max-width: 700px) {
    .highcharts-figure  {
       max-width: 50vw;
    }
}

input[type=text]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #2d9fd9;
     color: #a0d18c;
     width: 10vw;
     height: 2.5vw;
     padding-left: 10px;
    margin: 1vw;
    }

input[type=text]:focus {
     outline: none;
     border: 1px solid #a0d18c;
     color: #2d9fd9;
}
