{
%
load
static
%
}
@font-face {
    font-family: "DimaShekari";
    font-size: medium;
    src: url("../fonts/DimaShekari1.woff") format("woff");
}


body {
    background-image: none;
    background-color: rgba(197, 237, 221, 0.54);
    font-family: 'DimaShekari', serif;
    background-attachment: fixed;


}

.jumbotron {
    background: inherit;

}


.jumbotron h1 {
    color: rgba(0, 0, 0, 0.57);
    text-align: center;
    font-size: 5vw;

}

.jumbotron h2 {
    color: rgba(24, 66, 65, 0.79);
    font-size: 1vw;
}

.jumbotron h1 {
    color: rgba(0, 0, 0, 0.57);
    text-align: center;
    font-size: 4vw;
}

.jumbotron h3 {
    color: #f5f5f5;
    font-size: 1vw;
}

.jumbotron p {
    outline-color: black;
    font-size: 1.4vw;
}

.error {
    color: red;
}

.error label {
    color: #9b2c32;
}

ul.errorlist {
    color: #c32b8e;
    background: none;
    font-size: 0.5vw;

}

ul.errorlist.error:before {
    content: ".";
    color: #c32b8e;
    font-size: 5vw;
}

.navbar {
    border-bottom-color: rgba(101, 168, 197, 0.71);
}

.carousel {
    margin-top: 25vh;
    max-height: 70vh;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.09);

}

.carousel-indicators {
    width: 50vw;
}

.carousel-indicators .active {
    background: yellow;

}

.carousel-inner > .item > img {
    width: 20vw;
    height: 40vh;
    float: left;
    margin-left: 15vw;

}

.carousel-inner > .item {
    max-height: 30vh;
}

.carousel-caption {
    top: 0;
    padding-top: unset;
    bottom: auto;
    text-align: right;
    font-size: 1.5vw;

}


.carousel-caption > p {
    max-width: 40%;
    max-height: inherit;
    line-height: normal;
    font-palette: dark;
    color: black;
    font-size: 1.3vw;

}


.carousel-caption > h3 {
    max-width: 40%;
    line-height: normal;
    font-size: 1.5vw;
    font-palette: dark;
    color: black;
}

#logo {

    background-image: url('../images/medical.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: center;
    min-height: 90vh;


}

#logo-img {
    max-width: 30%;
    max-height: 80%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


#logo h2 {
    margin: 70vh auto auto;
    background-image: none;
    color: rgba(24, 66, 65, 0.79);
    text-align: center;
    font-size: 1vw;
}

#profile {
    /*background-image: url('../images/doc35.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*position: center;*/
    /*min-height: 90vh;*/
}

.jumbotron {
    background-color: rgba(182, 195, 184, 0.76);
    margin-top: unset;
}

#slide {

    background-image: url('../images/medical4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: center;
    min-height: 90vh;

}

.container#chart-container {
"background-color: rgba(127,237,223,0.33)" data-aos = "fade-up" data-aos-delay = "200
}

.figure.highcharts-figure {
    position: relative;
    margin: 3%
}

#chart-div {
    overflow-x: scroll;
    align-content: center;
}

@media (max-width: 700px) {
    .carousel-inner > .item > img {
        width: 35vw;
        margin-left: 15vw;
    }

    .carousel {
        max-height: 50vh;
    }

    .carousel-caption > p {
        margin-right: -1vw;
        max-width: 30%;
        font-size: 3vw;

    }

    #logo h2 {
        font-size: 4vw;
    }

    #logo {
        background-size: inherit;
    }

    #profile {
        background-size: inherit;
    }

    #slide {
        background-size: inherit;
    }

    .highcharts-figure  {
       max-width: 50vw;
    }


}


