body {
    /*background-image: none;*/
    background-attachment: fixed;
}




#cards-li {
    width: 33%;
    float: right;
    display: block;
    margin-bottom: 3vh;
    margin-top: 1vh;
}


.flip-card {
    background-color: transparent;
    padding: auto;
    width: 20vw;
    height: 40vh;
    max-height: 40vw;
    border: 0.3vw solid #065319;
    border-radius: 3%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 20vw;
    height: 40vh;
    max-height: 40vw;
    padding: auto;
    margin: auto;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front {
    position: absolute;
    width: 97.5%;
    height: 97.5%;
    border-radius: 5px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-back {
    position: absolute;
    width: 97.5%;
    height: 97.5%;
    right: 0.52vw;
    border-radius: 5px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

#card-jumbotron {
    margin: 3vh auto auto;
    width: 18vw;
    height: 33vh;
    max-height: 33vw;
    padding: unset;

}

.flip-card-back p {
    font-size: 2vw;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: rgb(161, 177, 0);
    color: black;
}
#card-jumbotron{
    background-color: #f2fff0;
}

/* Style the back side */
.flip-card-back {
    background-color: rgb(34, 87, 80);
    color: white;
    transform: rotateY(180deg);
}

#prf {
    width: 8vw;
    height: 8vw;
}

#search-jumbotron {
    margin-top: 40vh;
}
#search-jumbotron-all {
    margin-top: 40vh;
    height: 500vh;
}

.flip-card-back h1 {
    font-size: 3vw;
}

#card-jumbotron h3 {
    margin: 0;
}

img {
    border-radius: 50%;
}

input[type=text]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #2d9fd9;
     color: #a0d18c;
     width: 10vw;
     height: 2.5vw;
     padding-left: 10px;
    margin: 1vw;
    }

input[type=text]:focus {
     outline: none;
     border: 1px solid #a0d18c;
     color: #2d9fd9;
}

@media (max-width: 770px) {
    #cards-li {
        width: 100%;

    }
    .flip-card{
        width: unset;
        padding: unset;

    }
    .flip-card-inner {
        width: unset;
        padding-right: 1vw;
    }
    #card-jumbotron {
        width: unset;
        padding-right: 1vw;
    }
}
