{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block body_block %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
    {% if request.session.lang == 'en' %}
    <style>
        .emp-profile{
            margin: auto;
            margin-top: 20%;
    }</style>
    {% endif %}
    {% language request.session.lang %}
            {% get_current_language as LANGUAGE_CODE %}
    <div class="container-fluid emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4 col-xs-4">
                <div class="profile-img">

                    {% if user.doctorprofileinfo.profile_pic%}
                        <img src= "{{ user.doctorprofileinfo.profile_pic.url }}" alt="Avatar"/>
                    {% else %}
                         <img src="{% static 'default/default_8.jpg' %}" alt="/">
                    {% endif %}

                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="profile-head">
                    <h5>
                        {{ user.name }} {{ user.family_name }}
                    </h5>
                    <h6>
                        {% trans 'پزشک' %}
                    </h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-10 col-xs-10">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <p>{{ user.name }}</p>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label>{% trans 'نام' %}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <p>{{ user.family_name }}</p>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label>{% trans 'نام خانوادگی' %}</label>
                            </div>
                        </div>

                        {% if user.doctorprofileinfo.portfolio_site is None %}
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <p>{% trans 'وارد نشده است.' %}</p>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <label>{% trans 'وب سایت' %}</label>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <p>{{ user.doctorprofileinfo.portfolio_site }}</p>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <label>{%  trans 'وب سایت' %}</label>
                                </div>
                            </div>
                        {% endif %}


                        {% if user.doctorprofileinfo.specialty is None %}
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <p>{% trans 'وارد نشده است.' %}</p>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <label>{% trans 'تخصص' %}</label>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <p> {{ user.doctorprofileinfo.specialty }}</p>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <label>{% trans 'تخصص' %}</label>
                                </div>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <p>{{ user.doctorprofileinfo.degree }}</p>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label>{%  trans 'درجه پزشکی' %}</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <p>{{ user.doctorprofileinfo.address }}</p>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label>{%  trans 'آدرس' %}</label>
                            </div>
                        </div>

                        {% if user.doctorprofileinfo.educational_background is None %}
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <p>{% trans 'وارد نشده است.' %}</p>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <label>{% trans 'پیشینه تحصیلی' %}</label>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <p> {{ user.doctorprofileinfo.educational_background }}</p>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <label>{% trans 'پیشینه تحصیلی' %}</label>
                                </div>
                            </div>
                        {% endif %}


                        {% if user.doctorprofileinfo.fee is None %}
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <p>{% trans 'وارد نشده است.' %}</p>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <label>{% trans 'حق ویزیت ' %}</label>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <p> {{ user.doctorprofileinfo.fee }} {% trans 'تومان' %}</p>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <label>{% trans 'حق ویزیت ' %}</label>
                                </div>
                            </div>
                        {% endif %}

                        {% if user.doctorprofileinfo.on_site_fee is False %}
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <p>{% trans 'وجود ندارد.' %}</p>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <label>{% trans 'قابلیت پرداخت حق ویزیت در مطب' %}</label>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <p>{% trans 'وجود ندارد.' %}</p>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <label>{% trans 'قابلیت پرداخت حق ویزیت در مطب' %}</label>
                                </div>
                            </div>
                        {% endif %}


                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                            <div id="rateYo">
                                            </div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <label>{% trans 'امتیاز ' %}</label>
                                </div>
                            </div>


                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <p>{{ user.doctorprofileinfo.visit_duration }} {% trans 'ساعت' %}</p>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label>{% trans 'مدت زمان ویزیت' %}</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <p>{{ user.doctorprofileinfo.start_hour }}
                                    {%trans 'تا' %} {{ user.doctorprofileinfo.end_hour }}</p>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label>{% trans 'ساعات کاری' %}</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <p>{{ days }}</p>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label>{% trans 'روز‌های کاری' %}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
     <div class="col-md-2 col-xs-2">
                {% if not request_user.is_doctor %}
                    <a class="btn btn-default" href="{% url 'doctor_calendar:calendar' user.pk 0 %}">{% trans 'رزرو وقت' %}</a>
                {% endif %}
            </div>

    </div>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css" rel="stylesheet"/>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
                    <script>
                        $("#rateYo").rateYo({
                            halfStar: true,
                            readOnly: true,
                            rating: '{{user.doctorprofileinfo.score}}',
                            numStars:5,
                            minValue:0,
                            maxValue:5,
                            normalFill: 'gray',
                            ratedFill: 'yellow',
                            starWidth: "25px",
                            paddingRight: "2vw"
                        })
                    </script>
    {% endlanguage %}
{% endblock %}


