{% extends 'base.html' %}
{% load i18n %}
{%load static%}
{% block body_block %}
    {% language request.session.lang %}
                        {% get_current_language as LANGUAGE_CODE %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <form class="box"method="POST">
                    <h1 class="head">{% trans 'فراموشی رمز' %}</h1>
                    <p class="text-muted">{% trans 'ایمیل خود را وارد کنید تا ایمیل تغییر رمز عبور برایتان ارسال شود.'%}</p>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value={% trans "ارسال"%}>
                </form>
            </div>
        </div>
       </div>
    {% endblock %}
    {% endlanguage %}
{% endblock %}
</div>
