{% extends 'base.html' %}
{% load i18n %}

{% block body_block %}
    {% language request.session.lang %}
        {% get_current_language as LANGUAGE_CODE %}
    {% block title %}{% trans 'تغییر رمز موفق' %}{% endblock %}

    {% block content %}
        <div class="container">
            <div class="jumbotron">

                <p>{% trans 'رمز شما با موفقیت تغییر یافت.'%}</p>
            </div>
        </div>
    {% endblock %}
    {% endlanguage %}
{% endblock %}
