{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block body_block %}
    {% language request.session.lang %}
        {% get_current_language as LANGUAGE_CODE %}
        {% block title %}{% trans 'رمز جدید را وارد کنید' %}{% endblock %}

        {% block content %}
            <link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            {% if validlink %}

                                <form class="box" method="POST">
                                    <h1 class="head">{% trans 'رمز جدید' %}</h1>
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input type="submit" value="تغییر رمز عبور">
                                </form>

                            {% else %}
                                <p class="text-muted">{% trans "لینک بازیابی رمز منقضی شده است. لطفا دوباره درخواست بازیابی رمز بدهید." %}</p>

                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        {% endblock %}

    {% endlanguage %}
{% endblock %}
