{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
    {% if request.session.lang == 'en' %}
    <style>
        .emp-profile{
            margin: auto;
            margin-top: 20%;
    }</style>
    {% endif %}
<div class="container-fluid emp-profile">
{% language request.session.lang %}
                        {% get_current_language as LANGUAGE_CODE %}
    <form method="post">
        <div class="row">
            <div class="col-md-4 col-xs-4">
                <div class="profile-img">
                    {% if user.patientprofileinfo.profile_pic %}
                        <img src= "{{ user.patientprofileinfo.profile_pic.url }}" alt="Avatar"/>
                    {% else %}
                        <img src="{% static 'default/default_8.jpg' %}" alt="/">
                    {% endif %}
                </div>
            </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="profile-head">
                                    <h5>
                                        {{user.name}} {{user.family_name}}
                                    </h5>
                                    <h6>
                                        {% trans 'بیمار' %}
                                    </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-xs-10">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>{{ user.name }}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>{% trans 'نام' %}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>{{ user.family_name }}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>{% trans 'نام خانوادگی' %}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>{{user.patientprofileinfo.birthday.year}}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>{% trans 'سال تولد' %}</label>
                                            </div>
                                        </div>

                                    {% if user.patientprofileinfo.medical_condition is None %}
                                         <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>{% trans 'وارد نشده است.' %}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>{% trans 'بیماری‌ها' %}</label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>{{user.patientprofileinfo.medical_condition}}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>{% trans 'بیماری‌ها' %}</label>
                                            </div>
                                        </div>
                                    {% endif %}

                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>{{user.patientprofileinfo.medical_emergency_contact}}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>{% trans 'شماره تلفن موارد پزشکی اضطراری' %}</label>
                                            </div>
                                        </div>

                                    {% if user.patientprofileinfo.blood_type is None %}
                                         <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>{% trans 'وارد نشده است.'%}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>{% trans 'گروه خونی' %}</label>
                                            </div>
                                        </div>
                                    {% else %}
                                    {% if user.patientprofileinfo.blood_plus_minus is None %}
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p> {{user.patientprofileinfo.blood_type}}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>{% trans 'گروه خونی' %}</label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                {% if user.patientprofileinfo.blood_plus_minus == 'P'%}
                                                <p> + {{user.patientprofileinfo.blood_type}}</p>
                                                {% endif%}
                                                {% if user.patientprofileinfo.blood_plus_minus == 'N'%}
                                                <p> - {{user.patientprofileinfo.blood_type}}</p>
                                                {% endif%}
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>{% trans 'گروه خونی' %}</label>
                                            </div>
                                        </div>

                                    {% endif %}
                                {% endif %}

                                {% if user.patientprofileinfo.allergies is None %}
                                         <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>{% trans 'وارد نشده است.' %}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>{% trans 'حساسیت‌ها' %}</label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p> {{user.patientprofileinfo.allergies}}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>{% trans 'حساسیت‌ها' %}</label>
                                            </div>
                                        </div>
                                    {% endif %}


                                {% if user.patientprofileinfo.height is None %}
                                         <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>{% trans 'وارد نشده است.' %}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>{% trans 'قد' %}</label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p> {{user.patientprofileinfo.height}} {% trans 'متر' %}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>{% trans 'قد' %}</label>
                                            </div>
                                        </div>
                                    {% endif %}

                                {% if user.patientprofileinfo.weight is None %}
                                         <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>{% trans 'وارد نشده است.' %}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>{% trans 'وزن' %}</label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p> {{user.patientprofileinfo.weight}} {% trans 'کیلوگرم' %}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>{% trans 'وزن' %}</label>
                                            </div>
                                        </div>
                                    {% endif %}

                            </div>
                            </div>
                        </div>
                    </div>
            </form>
{% endlanguage %}
        </div>
{% endblock%}

