{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
    <div class="container">
        <div class="row">
            {% language request.session.lang %}
                {% get_current_language as LANGUAGE_CODE %}

                <div class="col-md-8">
                    <div class="card">
                        <form class="box" enctype="multipart/form-data" method="POST">
                            {% if errors is not None %}
                                <div class="alert alert-danger">
                                    <strong>{% trans 'خطا!' %}</strong>
                                    {% for i in errors %}
                                        <ul>{% trans i %}</ul>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <h1 class="head">{% trans 'صفحه ثبت نام' %} </h1>
                            <p class="text-muted">{% trans 'لطفا فرم زیر را تکمیل کنید.' %}</p>
                            {% csrf_token %}
                                {{ user_form.as_p}}
                                {{ profile_form.as_p }}
                            <input type="submit" name="" value={% trans 'ثبت نام'%}>
                        </form>
                    </div>
                </div>
                </div>
            {% endlanguage %}
    </div>
{% endblock %}
