{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body_block %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://rawgithub.com/miladjafary/highcharts-plugins/master/js/jalali.js"></script>
<script src="https://rawgithub.com/miladjafary/highcharts-plugins/master/js/highcharts-localization.js"></script>
<link rel="stylesheet" href="{% static 'css/income.css' %}" type="text/css">

{% language request.session.lang %}
    {% get_current_language as LANGUAGE_CODE %}
<div class="jumbotron" id="search-jumbotron">
    <h3 style="color: black"> {% trans 'لطفا بازه‌ی زمانی‌ای بین دو هفته تا دو ماه را انتخاب کنید' %} </h3>
    <br>
    <form action="{% url 'accounts:monthly_income'%}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">{% trans 'مشاهده نمودار درآمد' %}</button>
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'scripts/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap-datepicker.fa.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}"/>
    <script>

        $(document).ready(function () {
            $('.datepicker').datepicker(
                {
                    dateFormat: 'yy-mm-dd',
                    changeMonth: true,
                    showButtonPanel: true,
                },
            );
        });
    </script>

{% if income|length > 0 %}
<div class="container" id="chart-div">
    <figure class="highcharts-figure" style="position: center;margin: 2vw;">
        <div id="container">
        </div>
    </figure>
</div>

<script>
    Highcharts.setOptions({
        locale: getPersianLocal()
    });

    Highcharts.chart('container', {

        chart: {
            scrollablePlotArea: {
                minWidth: 100
            },
        },

        title: {
            text: "{% trans 'درآمد تجمعی در بازه مشخص شده'%}"
        },

        xAxis: {
            title: {
                text: "{% trans 'روزها'%}"
            },
            tickWidth: 0,
            gridLineWidth: 1,
            labels: {
                align: 'right',
                x: 3,
                y: -3,
                formatter: function() {
                    l = document.documentElement.lang;
                    if (l === 'fa') {
                        return Highcharts.localizationNumber(this.value);
                    }
                    else {
                        return this.value;
                    }
                }
            }
        },

        yAxis: [{
            title: {
                text: "{% trans '(درآمد (تومان' %}"
            },
            labels: {
                align: 'left',
                x: 0,
                y: 10,
                format: '{value:.,0f}',
                formatter: function() {
                    l = document.documentElement.lang;
                    if (l === 'fa') {
                        return Highcharts.localizationNumber(this.value);
                    }
                    else {
                        return this.value;
                    }
                }
            },
            showFirstLabel: false
        }],

        legend: {
            align: 'right',
            verticalAlign: 'top',
            borderWidth: 0
        },
        tooltip: {
                    formatter: function() {
                        return '<b>' + "{% trans 'درآمد تا روز '%}" + Highcharts.localizationNumber(this.x) + "{% trans 'ام بازه' %}"+ '</b>' +
                            ':' + Highcharts.localizationNumber(this.y) + "{% trans 'تومان' %}";
                    },
                    useHTML: true
                },

        series: [{
            name: "{% trans ' درامد'%}",
            lineWidth: 4,
            marker: {
                radius: 4
            },
            data: {{ins}}
    }]

    });
</script>
{% endif %}
</div>
     {% endlanguage %}
{% endblock %}
